code {
  font-size: 14px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 10px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

button {
  height: 25px;
  margin: 5px;
  background: none;
  border-radius: 5px;
}

.console {
  padding: 2px;
  bottom: 10px;
  position: absolute;
  text-align: left;
  width: calc(100% - 20px);
  border-radius: 5px;
}
.console::before {
  position: absolute;
  top: -20px;
  font-size: 12px;
}
.console > p {
  margin: 0.5em;
  word-wrap: break-word;
}
